.navbar{
    /* display: block */
}


.App-header {
    background-color: #222;
    /* height: 150px; */
    padding: 20px;  
  }
  
  h5, .headerLink, .titleHeader{
    color: white !important;
  }
  

  .profile-info{
      text-align: right
  }

  .profilePic{
      width:16%;
  }